Language: Cpp
BasedOnStyle: LLVM

# 42 Basics
BreakBeforeBraces: Allman
ColumnLimit: 80
IndentWidth: 4
TabWidth: 4
UseTab: Always

# --- THE CRITICAL FIX ---
# This forces the gap between 'int' and 'ft_test' to be a Tab
AlignConsecutiveDeclarations: 
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCompound: true
# ------------------------

# Norminette v3 Compatibility
AlignAfterOpenBracket: DontAlign
AlwaysBreakAfterReturnType: None
DerivePointerAlignment: false
PointerAlignment: Right
BinPackArguments: false
BinPackParameters: false
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements

